<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../componente-usuarios/componente-usuarios.html">
<link rel="import" href="../componente-cuentas/componente-cuentas.html">

<dom-module id="componente-home">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" on-click="usuarios">Usuarios <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" on-click="cuentas">Cuentas</a>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          <span>Bienvenidooo a BBVA: [[first_name]]</span>
      <a class="nav-link" href="#" on-click="logout">Cerrar Sesión</a>
      </div>
    </nav>
    <div hidden$="[[!goUsuarios]]">
      <componente-usuarios></componente-usuarios>
    </div>
    <div hidden$="[[!goCuentas]]">
      <componente-cuentas id="receiver"></componente-cuentas>
    </div>
      <iron-ajax
        id="doLogout"
        url="http://localhost:3000/techu/v2/logout"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
  </template>
  <script>
  class ComponenteHome extends Polymer.Element {
    static get is() { return 'componente-home'; }
    static get properties() {
      return {
        userid : {
          type: Number,
          observer: '_idChanged'
        }
      };
    }
    /*logout*/
    logout(e) {
      var logoutData = {
        "email" : this.email
      };
      this.$.doLogout.body = JSON.stringify(logoutData);
      this.$.doLogout.generateRequest();
    }

    usuarios() {
      this.goUsuarios = true;
      this.goCuentas = false;
    }

    cuentas() {
      this.$.receiver.userid = this.userid;
      this.goUsuarios = false;
      this.goCuentas = true;
    }

    manageAJAXResponse(data) {
      this.idusu = data.detail.response.user;
      if (data.detail.response.user!=undefined) {
        this.isLogged = false;
      }
      this.dispatchEvent(new CustomEvent('logoutok',
                         {detail:{idusu:this.idusu,login: this.isLogged}}));
    }

    /*por defecto se seleccionará usuarios en las opciones*/
    _idChanged() {
      this.usuarios();
    }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }
  }

  window.customElements.define(ComponenteHome.is, ComponenteHome);

  </script>
</dom-module>
