<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../componente-home/componente-home.html">
<link rel="import" href="../componente-login/componente-login.html">

<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
     <div hidden$="[[!hasLogin]]">
    <componente-login on-loginok="showHomeEvent"></componente-login>
    </div>
    <div hidden$="[[!goHome]]">
       <componente-home id="receiver" on-logoutok="logoutEvent"></componente-home>
     </div>
  </template>
<script>
class ComponentePrincipal extends Polymer.Element {
  static get is() { return 'componente-principal'; }
  static get properties() {
    return {
      hasLogin: {
        type: Boolean,
        value: true
      },
      goHome: {
        type: Boolean,
        value: false
      }
    };
  }

  showHomeEvent(e) {
    this.$.receiver.userid = e.detail.idusu;
    this.$.receiver.first_name = e.detail.name;
    this.$.receiver.email = e.detail.email;
    this.goHome = true;
    this.hasLogin = false;
  }


  logoutEvent(e) {
    this.goHome = false;
    this.hasLogin = true;
  }
}

window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);

</script>
</dom-module>
