<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="componente-usuarios-agregar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <h4>Agregar Usuario</h4>
   <form>
   <div class="form-group">
     <label>Nombres</label>
     <input type="text" class="form-control" placeholder="Ingresar nombres" value="{{p_first_name::input}}">
  </div>
  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" class="form-control" placeholder="Ingresar apellidos" value="{{p_last_name::input}}">
 </div>
  <div class="form-group">
    <label>Correo electrónico</label>
    <input type="email" class="form-control" placeholder="Ingresar correo electrónico" value="{{p_email::input}}">
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" placeholder="Ingresar contraseña" value="{{p_password::input}}">
  </div>
  <button type="submit" class="btn btn-primary" on-click="crear">Crear</button>
  <button type="submit" class="btn btn-primary" on-click="regresar">Regresar</button>
</form>

<iron-ajax
  id="doAgregarUsuario"
  url="http://localhost:3000/techu/v2/users"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">

  </template>
  <script>
  class ComponenteUsuariosAgregar extends Polymer.Element {
    static get is() { return 'componente-usuarios-agregar'; }
    /*static get properties() {
      return {
        first_name: {
          type: String
        },last_name: {
          type: String
        },email: {
          type: String
        },password: {
          type: String
        }
      };
    }*/

    manageAJAXResponse(data) {
      alert("Se creó el usuario");
      alert(data);
    }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }

    crear() {

      var userData = {
        "first_name" : this.p_first_name,
        "last_name" : this.p_last_name,
        "email" : this.p_email,
        "password" : this.p_password
      };
      alert(11);
      alert(userData);
      this.$.doAgregarUsuario.body = JSON.stringify(userData);
      this.$.doAgregarUsuario.generateRequest();
      alert(22);
    }

    regresar() {
      this.dispatchEvent(new CustomEvent('regresar',
                         {detail:{idusu:this.idusu,}}));
    }
  }
  window.customElements.define(ComponenteUsuariosAgregar.is, ComponenteUsuariosAgregar);
  </script>
</dom-module>
